AssistanceService/Operations/checkPaymentStatus/checkPaymentStatusRQ.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:simpleType name="CardCode">
        <xs:annotation>
            <xs:documentation xml:lang="en">A single digit card code between 0 to 6</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:enumeration value="0">
                <xs:annotation>
                <xs:documentation xml:lang="en">Unknown</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1">
                <xs:annotation>
                <xs:documentation xml:lang="en">JCB</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2">
                <xs:annotation>
                <xs:documentation xml:lang="en">American Express (Amex)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3">
                <xs:annotation>
                <xs:documentation xml:lang="en">Diners Club</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="4">
                <xs:annotation>
                <xs:documentation xml:lang="en">Bankcard</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="5">
                <xs:annotation>
                <xs:documentation xml:lang="en">Mastercard</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="6">
                <xs:annotation>
                <xs:documentation xml:lang="en">Visa</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TransactionStatusCode">
        <xs:annotation>
            <xs:documentation xml:lang="en">This indicates where this message falls within a sequence of messages.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Start">
            <xs:annotation>
                <xs:documentation xml:lang="en">This is the first message within a transaction.</xs:documentation>
            </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="End">
            <xs:annotation>
                <xs:documentation xml:lang="en">This is the last message within a transaction.</xs:documentation>
            </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Rollback">
            <xs:annotation>
                <xs:documentation xml:lang="en">This indicates that all messages within the current transaction must be ignored.</xs:documentation>
            </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="InSeries">
            <xs:annotation>
                <xs:documentation xml:lang="en">This is any message that is not the first or last message within a transaction.</xs:documentation>
            </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StringLength1to16">
            <xs:annotation>
                <xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
            </xs:annotation>
            <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="16"/>
            </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CarrierCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Z]{2,3}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FlightNumberType">
            <xs:annotation>
                <xs:documentation xml:lang="en">Identifies a flight number (1 to 4 numbers followed by optional uppercase A - Z, which specifies an operational suffix) or OPEN or ARNK.</xs:documentation>
            </xs:annotation>
            <xs:restriction base="xs:string">
                <xs:pattern value="[0-9]{1,4}[A-Z]?"/>
            </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CurrencyCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Currency Codes</xs:documentation>
    </xs:annotation>
    <xs:restriction base="AlphaLength3"/>
    </xs:simpleType>

    <xs:simpleType name="AlphaLength3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for Alphabetic Strings, length exactly 3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z]{3}"/>
    </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="UpperCaseAlphaNumericLength3to5">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for an Upper Alpha String and Numeric, length 3 to 5.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{3,5}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Numeric0to9">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Numeric values, from 0 to 9 inclusive</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="9"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Numeric0to4">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used for Numeric values, from 0 to 4 inclusive</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="4"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CabinCode">
        <xs:annotation>
            <xs:documentation xml:lang="en">A single letter cabin code in SABRE encoding as opposed to ATPCO encoding</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="P">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Premium First</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="F">
                <xs:annotation>
                    <xs:documentation xml:lang="en">First</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="J">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Premium Business</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Business</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="S">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Prmium Economy</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Y">
                <xs:annotation>
                    <xs:documentation xml:lang="en">Economy</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IntDateTime">
        <xs:annotation>
            <xs:documentation>IntelliSell Date Time type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="checkPaymentStatusRQ">
        <xs:complexType>
            <xs:all>
                <xs:element name="PaymentStatus">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="PaymentStatus" type="xs:string" minOccurs="1"/>
                            <xs:element name="PaymentDate" type="IntDateTime" minOccurs="1"/>
                            <xs:element name="CreditBalance" type="xs:string"/>
                            <xs:element name="PaidAmount" type="xs:decimal"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PaymentMethodInformaion">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Country" type="xs:string" minOccurs="1"/>
                            <xs:element name="City" type="xs:string" minOccurs="1"/>
                            <xs:element name="BankName" type="xs:string" minOccurs="1"/>
                            <xs:element name="CardType" type="CardCode" minOccurs="1" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="FlightInformation">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="AirlineCode" type="CarrierCode" minOccurs="1"/>
                            <xs:element name="FlightNumber" type="FlightNumberType" minOccurs="1"/>
                            <xs:element name="DepartureDate" type="IntDateTime" minOccurs="1"/>
                            <xs:element name="DeparutreAirport" type="UpperCaseAlphaNumericLength3to5" minOccurs="1"/>
                            <xs:element name="ArrivalDate" type="IntDateTime" minOccurs="1"/>
                            <xs:element name="ArrivalAirport" type="UpperCaseAlphaNumericLength3to5" minOccurs="1"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PassengerInformation">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="NumberOfAdult" type="Numeric0to9" minOccurs="1" maxOccurs="9"/>
                            <xs:element name="NumberOfChild" type="Numeric0to9" minOccurs="0" maxOccurs="9"/>
                            <xs:element name="NumberOfInfant" type="Numeric0to4" minOccurs="0" maxOccurs="4"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PromoCode">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="PromotionCode" minOccurs="0" maxOccurs="99">
                                <xs:annotation>
                                    <xs:documentation>Promotion Code (or Codes) used to determine applicable promotion.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="Value" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:pattern value="[A-Za-z0-9_]+"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SeatDetail">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CabinType" type="CabinCode"/>
                            <xs:element name="NumberOfSeat" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PriceDetail">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Cost" type="xs:decimal"/>
                            <xs:element name="Tax" type="xs:decimal"/>
                            <xs:element name="TotalAmount" type="xs:decimal"/>
                            <xs:element name="DiscountPrice" type="xs:decimal"/>
                            <xs:element name="CurrecyCode" type="CurrencyCodeType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="BaggageDetail">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="NetAmount" type="xs:decimal"/>
                            <xs:element name="Weight" type="xs:decimal"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="FailureCode" type="xs:string"/>
                <xs:element name="FailureMessage" type="xs:string"/>
                <xs:element name="TrasactionCode" type="TransactionStatusCode" minOccurs="1"/>
                <xs:element name="GDSToken" type="xs:string"/>
                <xs:element name="AgentCode" type="StringLength1to16"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>