AssistanceService/Operations/addMoreBaggage/addMoreBaggageRQ.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="addMoreBaggateRQ">
        <xs:complexType>
            <xs:all>
                <xs:element name="PNRCode" type="xs:string" minOccurs="0"/>
                <xs:element name="Weight" type="xs:decimal"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>